*{
margin:0;
padding:0;
}

html, body{
  width: 100%;
  height: 2320px;
}
body{
  background: #a19ec9; /* Old browsers */
  background: -moz-linear-gradient(top, #a19ec9 0%, #a19bc7 15%, #a19bc7 15%, #aa9bbc 28%, #aa9bbc 28%, #cba3ac 43%, #cba3ac 43%, #dc9b97 51%, #ce838a 63%, #ce838a 63%, #b36a7d 75%, #884f70 90%, #5c3d69 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a19ec9 0%,#a19bc7 15%,#a19bc7 15%,#aa9bbc 28%,#aa9bbc 28%,#cba3ac 43%,#cba3ac 43%,#dc9b97 51%,#ce838a 63%,#ce838a 63%,#b36a7d 75%,#884f70 90%,#5c3d69 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a19ec9 0%,#a19bc7 15%,#a19bc7 15%,#aa9bbc 28%,#aa9bbc 28%,#cba3ac 43%,#cba3ac 43%,#dc9b97 51%,#ce838a 63%,#ce838a 63%,#b36a7d 75%,#884f70 90%,#5c3d69 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a19ec9', endColorstr='#5c3d69',GradientType=0 ); /* IE6-9 */
  background-size: 110% 110% cover;}
/*полоска сверху**/
.topslider{
  min-height: 64px;
  position: absolute;
  background-color: #bda0b3;
  width: 100%;
  height: 7%;
  border-bottom: 1px solid black;
}
.toplogo{
  position: inherit;
  min-width: 64px;
  min-height: 64px;
  background-image: url('../img/logosmall.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 100%;
  width: 3.5%;


}
.topname{
  position: inherit;
  min-height: 64px;
  min-width: 200px;
  font-family: 'Noto Sans', bold;
  margin-left: 88%;
  margin-right: 2%;
  text-align: center;
  font-size: 300%;
  height: 100%;
  width: 10%;
  float: right;
}

.slogan1{
  text-align: center;
  font-size: 200%;
  font-family: 'Noto Sans', bold;
  position: absolute;
  margin-top: 3.5%;
  margin-left: 25%;
  width: 50%;
  height: 6%;
}
.slogan2{
  text-align: center;
  font-size: 200%;
  font-family: 'Noto Sans', bold;
  position: absolute;
  margin-top: 32.5%;
  margin-left: 25%;
  width: 50%;
  height: 6%;
  border-bottom: 1px solid gray
}
.slogan3{
  text-align: center;
  font-size: 200%;
  font-family: 'Noto Sans', bold;
  position: absolute;
  margin-top: 36%;
  margin-left: 25%;
  width: 50%;
  height: 6%;
}
.slogan4{
  text-align: center;
  font-size: 200%;
  font-family: 'Noto Sans', bold;
  position: absolute;
  margin-top: 39%;
  margin-left: 25%;
  width: 50%;
  height: 6%;
  border-bottom: 3px solid #c4a1b0
}
.slogan5{
  text-align: center;
  font-size: 200%;
font-family: 'Noto Sans', bold;
  position: absolute;
  margin-top: 89.5%;
  margin-left: 25%;
  width: 50%;
  height: 6%;
  border-bottom: 1px solid gray
}
.slogan6{
  text-align: center;
  font-size: 200%;
  font-family: 'Noto Sans', bold;
  position: absolute;
  margin-top: 116.5%;
  margin-left: 25%;
  width: 50%;
  height: 6%;
  border-bottom: 1px solid gray
}
.maincontainer{
  height: 100%;
  width: 50%;
  margin-left: 25%;
  background-color: white;
}

.companynamebody{
  margin-top: 7%;
  position: absolute;
  width: 50%;
  height: 5%;
}
.copmpanyname{
  float: left;
  font-family: 'Roboto Slab', bold;
  margin-left: 8.5%;
  font-size: 64px;
  width: auto%;
  height: auto;}

.domainlogo{
  float: left;
  height: auto;
  width: auto;
  margin-left: 2%;
  margin-top: 2%;

}
.domainlogo:hover:after{
  content: attr(data-title);
  z-index: 1;
  background-color:  #d6d6c2);
  font-family: 'Roboto Slab', bold;
  color: #3adb15;
  text-align: center;
  font-size: 32px;
  }

.logocontainer{
  position: absolute;
  height: 20%;
  width: 50%;
  margin-top: 22.5%;
}

.roundimgcontainer{
  margin-top: -20%;
  position: absolute;
  margin-bottom: 10%;
  max-height: 200%;
  min-height: 200%;
  min-width: 37.5%;
  max-width: 37.5%;
  margin-left: 30%;
}


.webcontainer{
  position: absolute;
  height: 475%;
  margin-top: 38.8%;
  width: 100%;
  border-bottom: 1pt solid #c4a1b0;
}

.visitka{
  position: absolute;
  width: 100%;
  height: 250%;
  margin-top: 138%;
  border-bottom: 1pt solid black;
}
.invisitka{
  border: 1px solid black;
  margin-left: 12.5%;
  margin-top: 6.25%;
  height: 75%;
  width: 75%;

}
