html,body{
	min-height: 100%;
}
body{
background: rgb(161,158,201); /* Old browsers */
background: -moz-linear-gradient(top, rgba(161,158,201,1) 0%, rgba(161,155,199,1) 15%, rgba(161,155,199,1) 15%, rgba(170,155,188,1) 28%, rgba(170,155,188,1) 28%, rgba(203,163,172,1) 43%, rgba(203,163,172,1) 43%, rgba(220,155,151,1) 51%, rgba(206,131,138,1) 63%, rgba(206,131,138,1) 63%, rgba(179,106,125,1) 75%, rgba(136,79,112,1) 90%, rgba(92,61,105,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(161,158,201,1) 0%,rgba(161,155,199,1) 15%,rgba(161,155,199,1) 15%,rgba(170,155,188,1) 28%,rgba(170,155,188,1) 28%,rgba(203,163,172,1) 43%,rgba(203,163,172,1) 43%,rgba(220,155,151,1) 51%,rgba(206,131,138,1) 63%,rgba(206,131,138,1) 63%,rgba(179,106,125,1) 75%,rgba(136,79,112,1) 90%,rgba(92,61,105,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(161,158,201,1) 0%,rgba(161,155,199,1) 15%,rgba(161,155,199,1) 15%,rgba(170,155,188,1) 28%,rgba(170,155,188,1) 28%,rgba(203,163,172,1) 43%,rgba(203,163,172,1) 43%,rgba(220,155,151,1) 51%,rgba(206,131,138,1) 63%,rgba(206,131,138,1) 63%,rgba(179,106,125,1) 75%,rgba(136,79,112,1) 90%,rgba(92,61,105,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a19ec9', endColorstr='#5c3d69',GradientType=0 ); /* IE6-9 */
}

@-moz-document url-prefix()
{
	.logo {
	margin-top: 5vh;
	position: absolute;
	width: 34vw;
	height: 35vh;
	background-image: url(../img/logo2.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 41.5vw; }
@-moz-document url-prefix()
{
	.block{
		position: absolute;
		align-content: center;
		background-color: white;
		margin-top: 40vh;
		margin-left: 37.75vw;
		height: 35vh;
		width: 25vw;
		border-radius: 2vw; }

.bdiv{
	min-width: 100vw;
    min-height: 100vh;
		position: absolute;
}
.logo{

	position: absolute;
	width: 34vw;
	height: 35vh;
	background-image: url(../img/logo2.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 41.5vw;
}
.block{
	position: absolute;
	align-content: center;
	background-color: white;
	margin-top: 40vh;
	margin-left: 37.75vw;
	height: 35vh;
	width: 25vw;
	border-radius: 2vw;
}

.block2{
	margin-top: 2vw;
	padding-left: 2.75vw;
}

.name{
	margin-top: 5vh;
	font-size: 5vh;
	text-align: center;
}
.lowername{
	margin-top: 3vh;
	font-size: 2.5vh;
	text-align: center;
}


::-webkit-input-placeholder {
	font-size: 2.15vh;
text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 2.15vh;
  text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: 2.15vh;
   text-align:center;
}

:-ms-input-placeholder {
	font-size: 2.15vh;
   text-align:center;
}
