<!doctype html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Adhack</title>
<!--хуйня для сервера-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--локальные стили-->
<link rel="stylesheet" href="css/style.css">
<!--не трогать!-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>




<body>
		<div class="bdiv">
			<div class="logo"></div>
<div class="block">
			<div class="name">e:Drozd</div>
			<div class="lowername">Ворвись в Интернет	в один клик!</div>
		<div class="block2">
      <form class="" action="index.html" method="post">
        <input type="text" name="name" value="" placeholder="Категория" style="
					position: absolute;
					background-color: #d8d8d8;
					border: 1px solid #90949c;
					margin-top: 6vh;
					width: 20vw;
					height: 1.75vw;
					resize:none;
					border-radius: 0.5vw;">
				<input type="text" name="keyword" value="" placeholder="Название вашей фирмы(опицонально)" style="
						position: absolute;
						background-color: #d8d8d8;
						border: 1px solid #90949c;
						margin-top: 1vh;
						width: 20vw;
						height: 1.75vw;
						resize:none;
						border-radius: 0.5vw;}">
        <input type="submit" name="submit" value="Создать" style="
					font-size: 2.5vh;
					color: white;
					margin-top: 11vh;
					border-radius: 0.5vw;
					min-width: 50px;
					background-color: #884F70;
					width: 20.25vw;
					height: 2.5vw;
					border: 0;
					outline: 0;">
      </form>
		</div>
</div>



		</div>
</body>




</html>
