<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Adhack</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<!--хуйня для сервера-->
<link rel="stylesheet" href="{% static 'css/pageochenzaebal.css' %}">
<!--локальные стили-->
<link rel="stylesheet" href="css/pageochenzaebal.css">
</head>

<body>


  <!--верхний слайдер-->
  <div class="topslider">
    <div class="toplogo"></div>
    <div class="topname">e:Drozd</div>
  </div>

  <div class="slogan1">Мы подобрали подходящее вам название</div>
  <div class="slogan2">%SLOGAN</div>
  <div class="slogan3">К красивому названию - подобающие лого и слоган</div>
  <div class="slogan4">А ниже - ваш сайт в миниатюре</div>
  <div class="slogan5">Без визитки - Никуда!</div>
  <div class="slogan6">Осталось только оплатить</div>
  <!-- Фон тела-->
  <div class="maincontainer">

    <div class="companynamebody">
        <div class="copmpanyname">%Companyname</div>
        <div class="domainlogo" data-title="Домен Доступен!"><img src="../templates/img/gal.png" alt="" height="64px" width="64px"></img></div>
    </div>


    <div class="logocontainer">
      <img src="../templates/img/logo2.png" alt="" class="roundimgcontainer"
    </div>
    <div class="webcontainername"></div>
    <div class="webcontainer"></div>

    <div class="visitka">
      <div class="invisitka"><img src="" alt=""></img></div>
    </div>
    <input type="submit" name="submit" value="Создать" style="
      font-size: 2.5vh;
      color: white;
      margin-top: 193.75%;
      border-radius: 0.5vw;
      min-width: 50px;
      background-color: #884F70;
      width: 100%;
      height: 2.5vw;
      border: 1 solid gray;
      outline: 0;">
  </div>




</body>
</html>
