<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Adhack</title>
<!--хуйня для сервера-->
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<!--локальные стили-->
<link rel="stylesheet" href="css/page.css">
</head>

<body>
<div class="mainblock">
  <div class="head">
        <div class="nameblock" ></div>
        <div class="domain"></div>
  </div>
        <div class="slogan"></div>


  </div>

  </div>
</div>
</body>
</html>
