<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Adhack</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<!--хуйня для сервера-->
<link rel="stylesheet" href="{% static 'css/pageochenzaebal.css' %}">
<!--локальные стили-->
<link rel="stylesheet" href="css/pageochenzaebal.css">
</head>

<body>

  <div class="header">
      <div class="headimg"></div>
      <div class="headname" style="margin-left: 85%; margin-top:5px"><font><h1>e:Drozd</h1></font></div>
  </div>
<div class="mainblock">



  <div class="head">
        <div class="nameblock" ></div>
        <div class="domain"></div>
  </div>


  <div class="slogan"></div>


  <div class="minsblock">
    <div class="miniatureblock"></div>
    <div class="logoblock"></div>
  </div>


  <div class="visit">
  </div>


  <div class="kupi">
  </div>

</div>
</body>
</html>
