html,body{
	min-height: 100%;
}
body{
background: rgb(161,158,201); /* Old browsers */ 
background: -moz-linear-gradient(top, rgba(161,158,201,1) 0%, rgba(161,155,199,1) 15%, rgba(161,155,199,1) 15%, rgba(170,155,188,1) 28%, rgba(170,155,188,1) 28%, rgba(203,163,172,1) 43%, rgba(203,163,172,1) 43%, rgba(220,155,151,1) 51%, rgba(206,131,138,1) 63%, rgba(206,131,138,1) 63%, rgba(179,106,125,1) 75%, rgba(136,79,112,1) 90%, rgba(92,61,105,1) 100%); /* FF3.6-15 */ 
background: -webkit-linear-gradient(top, rgba(161,158,201,1) 0%,rgba(161,155,199,1) 15%,rgba(161,155,199,1) 15%,rgba(170,155,188,1) 28%,rgba(170,155,188,1) 28%,rgba(203,163,172,1) 43%,rgba(203,163,172,1) 43%,rgba(220,155,151,1) 51%,rgba(206,131,138,1) 63%,rgba(206,131,138,1) 63%,rgba(179,106,125,1) 75%,rgba(136,79,112,1) 90%,rgba(92,61,105,1) 100%); /* Chrome10-25,Safari5.1-6 */ 
background: linear-gradient(to bottom, rgba(161,158,201,1) 0%,rgba(161,155,199,1) 15%,rgba(161,155,199,1) 15%,rgba(170,155,188,1) 28%,rgba(170,155,188,1) 28%,rgba(203,163,172,1) 43%,rgba(203,163,172,1) 43%,rgba(220,155,151,1) 51%,rgba(206,131,138,1) 63%,rgba(206,131,138,1) 63%,rgba(179,106,125,1) 75%,rgba(136,79,112,1) 90%,rgba(92,61,105,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a19ec9', endColorstr='#5c3d69',GradientType=0 ); /* IE6-9 */
}

.bdiv{
	min-width: 100vw;
    min-height: 100vh;
    position: relative;
}
.logo{
	width: 35vw;
	height: 35vh;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 10vh;
	margin-left: 41.5vw;
	
}
.name{
	margin-top: 1vh;
	font-size: 5vh;
	text-align: center;
}
.lowername{
	margin-top: 0.5vh;
	font-size: 2.5vh;
	text-align: center;
}
textarea{
	margin-top: 1vh;
	width: 20vw;		
	margin-left: 40vw;	
	height: 2vw;
	resize:none;
	border-radius: 0.5vw;
}
button{
	margin-top: 1vh;
	margin-left: 40vw;
	border-radius: 0.5vw;
	min-width: 50px;
	background-color: #E5004E;
	width: 20.25vw;
	height: 2.5vw;
	border: 0;
	outline: 0;
}
button:hover{background-color:#C30042;}
button:active{background-color:#FF1666}

