<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Adhack</title>
<link rel="stylesheet" href="css/style.css">
</head>




<body>
		<div class="bdiv">	
			<div class="logo"></div>
			<div class="name">LOREM IPSUM</div>
			<div class="lowername">dolorem set amet</div>
			<div class="textareamp"><textarea placeholder="Введите название фирмы"></textarea></div>
			<div class="textareamp"><textarea placeholder="Введите тематику"></textarea></div>
			<div class="mbutton"><button form="1;2"></button></div>		
		</div>
</body>





</html>
