<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Adhack</title>
<link rel="stylesheet" href="css/style.css">
</head>




<body>
	<div class="bgdiv">
		<div class="bdiv">	
			<div class="logo"></div>
			<div class="name">LOREM IPSUM</div>
			<div class="lowername">dolorem set amet</div>
			<div class="textareamp"><textarea placeholder="Введите название фирмы"
		style="
	margin-left: 0vw;
	width: 9vw;		
	margin-left: 7.5vw;	
	height: 2vw;
	resize:none;
	border-radius: 0.5vw;"
			></textarea></div>
			<div class="textareamp"><textarea placeholder="Введите тематику" 
		style="
	margin-left: 0vw;
	width: 9vw;		
	margin-left: 7.5vw;	
	height: 2vw;
	resize:none;
	border-radius: 0.5vw;"
			></textarea></div>
			<div class="mbutton"><button form="1;2"></button></div>		
		</div>
	</div>	
</body>





</html>
